/* 0 - Custom fonts*/
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@600&family=Roboto&display=swap');

/* 1 - variables*/
:root {
    --background: #DEE0E1;
    --containers: #F3F3F3;
    --task-box: #cfd7da;
    --task-text: #515151;
    --title: #1E1E1E;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background: var(--background);
    width: min(80%, 62.5rem) ;
    margin: auto;
}

/*2 - Containers */

.home1 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
.container1 {
    width: 100%;
    background-color: var(--containers);
    border-radius: 1.25rem;
    margin: 1.25rem 0;
    padding: 1.25rem 0;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
  }
  


.container2 {
    width: 100%;
    background-color: var(--containers);
    border-radius: 1.25rem;
    padding: 1.25rem 0;
    box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  }

.container-tasks {
    width: 85%;
    padding: 0.625rem 0.625rem;
    background: var(--task-box);
    border-radius: 0.313rem;
    margin: 0.625rem auto;
    text-align: left;
    color: var(--task-text);
    font-size: 1rem;
    box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
}

.done {
    width: 93%;
    text-decoration: line-through;
    color:rgba(81, 81, 81, 0.5);
}


/* 3 - Texts */
h2 {
    font-family: 'Atma', cursive;
    color: var(--title);
    margin: 0.625rem auto 1.5rem auto;
    font-size: 2rem;
    text-align: center;
}

/* 4 - Buttons and forms */


.task-form {
    display: flex;
    width: 100%;
}

.icons {
    background: none;
    border: none;
    color: var(--task-text);
    scale: 120%;
    margin: 0 0.25rem;
}

.checkbox {
    margin-right: 0.25rem;
}

.submit-button {
    padding: 0.625rem 0.75rem;
    background: var(--task-box);
    border-radius: 0.313rem;
    font-size: 1rem;
    box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.25);
    color: var(--task-text);
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin: 3rem auto 0.25rem auto;
    display: block;
  }

.newtask-input {
    width: 100%;
    margin-right: 0.25rem;
    font-size: 1rem;
    border: none;
}

#add-task{
    scale: 140%;
    line-height: 1.5rem;
}

.login-input {
    width: 95%;
    font-size: 1rem;
    border: none;
    margin: auto;
}